//字體
$font-type:  "微軟正黑體","sans-serif";

//字型大小
$font-super-s: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 20px;
$font-super-l: 24px;

//顏色
$brown-color: #3D1101;
$bg-color: #efe9e7;
$creamy-white-color: rgba(250,250,250,0.70);
$white-color: #FFF;

